In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [68]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1814,tt0200550,45000000,113916474,Coyote Ugly,Piper Perabo|Adam Garcia|John Goodman|Izabella...,David McNally,This party never ends.,"Graced with a velvet voice, 21-year-old Violet...",100,Comedy,Jerry Bruckheimer Films|Touchstone Pictures,7/30/2000,6.0,2000

In [69]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [70]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [71]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [72]:
big_budget=data[(data['budget'] == data.budget.max())] 
answers['1'] = big_budget.iloc[0,3]

ВАРИАНТ 2

In [73]:
big_budget=data[data['budget'] == data['budget'].max()].groupby(by = 'original_title')['budget'].agg(['max'])
big_budget.index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [74]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#answers['2'] = '...'

In [75]:
long_time = data[(data['runtime'] == data.runtime.max())].groupby(by = 'original_title')['runtime'].agg(['max']) 
answers['2'] = long_time.index[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [76]:
short_time=data[(data['runtime']==data.runtime.min())].groupby(by = 'original_title')['runtime'].agg(['min']) 
answers['3'] = short_time.index[0]

# 4. Какова средняя длительность фильмов?

In [77]:
mean_time = data['runtime'].mean()
answers['4'] = mean_time

# 5. Каково медианное значение длительности фильмов?

In [78]:
median_time = data['runtime'].median()
answers['5'] = median_time

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [79]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis = 1)
data_profit = data[(data['profit'] == data.profit.max())] 
answers['6'] = data_profit.iloc[0,3]

# 7. Какой фильм самый убыточный?

In [80]:
data_loss = data[(data['profit'] == data.profit.min())] 
answers['7'] = data_loss.iloc[0,3]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
count_profit = data[(data['profit']>0)].count() 
answers['8'] = count_profit.iloc[0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [82]:
data_2008 = data[data.release_year==2008]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title
answers['9'] = data_2008.iloc[0,3]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [83]:
data_loss_min = data.query('release_year>2011 & release_year<2015')
dlm = data_loss_min[(data_loss_min['profit']==data_loss.profit.min())] 
answers['10'] = dlm.iloc[0,3]

# 11. Какого жанра фильмов больше всего?

In [84]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data['glist'] = data.genres.str.split('|')
df_glist = data.explode('glist')
answers['11'] = df_glist['glist'].value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [85]:
df_profit = df_glist[(df_glist['profit']>0)]
answers['12'] = df_profit['glist'].value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [86]:
data['dlist'] = data.director.str.split('|')
df_director = data.explode('dlist')
best_d = df_director.groupby(['dlist'])['revenue'].sum().sort_values(ascending = False)
answers['13'] = best_d.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [87]:
df_glist['dlist']=df_glist.director.str.split('|')
df_dlist=df_glist.explode('dlist')
action_top=df_dlist[df_dlist['glist'] == 'Action']
answers['14'] = action_top['dlist'].value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [88]:
data['clist']=data.cast.str.split('|')
df_cast=data.explode('clist')
df_2012 = df_cast[df_cast.release_year == 2012]
best_2012 = df_2012.groupby(['clist'])['revenue'].sum().sort_values(ascending = False)
answers['15'] = best_2012.index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
df_budget=df_cast[(df_cast['budget']>df_cast.budget.mean())] 
answers['16'] = df_budget['clist'].value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
df_cage = df_cast[(df_cast['clist']=='Nicolas Cage')] 
df_glist_cage = df_cage.explode('glist')
answers['17'] = df_glist_cage['glist'].value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [91]:
data['plist'] = data.production_companies.str.split('|')
df_production = data.explode('plist')
paramount_loss = df_production[(df_production['plist'] == 'Paramount Pictures')] 
answers['18'] = paramount_loss[(paramount_loss['profit'] == paramount_loss.profit.min())].iloc[0,3]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [92]:
best_year = data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending = False)
answers['19'] = best_year.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [93]:
warner_profit=df_production[df_production.production_companies.str.contains('Warner Bros.')]
warner = warner_profit.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending = False)
answers['20'] = warner.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [94]:
data['release_date'] = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.month
answers['21'] = data.month.value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [95]:
june = data.month.value_counts().sort_index()[6]
july = data.month.value_counts().sort_index()[7]
august = data.month.value_counts().sort_index()[8]
answers['22'] = june+july+august

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
df_director = data.explode('dlist')
df_winter = df_director.query('month in ["1","12","2"]')
answers['23'] = df_winter.dlist.value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
df_production['title_length'] = df_production.original_title.apply(len)
length = df_production.groupby(['plist'])['title_length'].mean().sort_values(ascending = False)
answers['24'] = length.index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [98]:
df_production['overview_length'] = df_production['overview'].str.count(' ') + 1
length_overview = df_production.groupby(['plist'])['overview_length'].mean().sort_values(ascending = False)
answers['25'] = length_overview.index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [99]:
df_one = data.copy()
df_one.vote_average.quantile(0.99)
df_one=df_one[(df_one['vote_average'] > df_one.vote_average.quantile(0.99))]
one = df_one.groupby(['original_title'])[['vote_average']].max().sort_values(['vote_average'],ascending = False)
answers['26'] = one.index[0:6]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [100]:
df_pair = data.copy()
pairs = []
for i in range(len(df_pair)):
    cast_new = df_pair.loc[i,'cast'].split('|')
    for j in range(len(cast_new)-1):
        for k in range(j+1,len(cast_new)):
            pairs.append(sorted([cast_new[j],cast_new[k]]))

In [101]:
Output = {}
for lis in pairs:
    Output.setdefault(tuple(lis), list()).append(1)
for a, b in Output.items():
    Output[a] = sum(b)
Output

max_val = max(Output.values())
final_dict = {k:v for k, v in Output.items() if v == max_val}

for final in final_dict.keys(): 
    answers['27'] = final

# Submission

In [102]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': Index(['The Dark Knight', 'Inside Out', 'Interstellar', 'Room',
        'The Imitation Game', '12 Years a Slave'],
       dtype='object', name='original_title'),
 '27': ('Emma Watson', 'Rupert Grint')}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27